body{
  font-family: $font-family;
}

/*Genel kapsayıcı*/
.container{
  max-width:$max-width;
  margin-left:auto; /*margin-left ve margin-right ile sagdan soldan ortaladık*/
  margin-right:auto;
  padding-left:$gutter;
  padding-right:$gutter;
}

a{
  color:$color-navy;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.button{
  display:inline-flex;
  align-items:center;
  padding-left:20px;
  padding-right:20px;
  height:$finger-size;
  background-color:transparent;
  font-weight: bold;
  color:#fff; 
  font-family:inherit;
  border-radius:$border-radius;
  &-icon{
    justify-content:center;
    color:black;
    padding-left:0;
    padding-right:0;
    width:$finger-size;
  }

  &-blue{
    color:white;
    background-color:$color-blue;
  }
}

.text{
  font-family:inherit;
  border:0;
  height:$finger-size;
}

.form-item{

}